
.curriContent {
    border: 4px solid #53186e;
    background-color: white; 
    padding-left: 15rem;
    padding-right: 15rem;
    padding-top: 15rem;
    padding-bottom: 15rem;
    display: grid;
    border-radius: 10px;
    text-align: center;
}