.body {
  height: 100%;
}

.footer_fix {
  /* height: auto;
  min-height: 100%;
  padding-bottom: 123px; */

  position: relative;
  min-height: 100%;
  padding-bottom: 123px;
}

.footer {
  /* height: 123px;
  position: relative;
  transform: translateY(-100%); */
  width: 100%;
  position: absolute;
  bottom: 0;
}

.Post {
  /* width: 65%;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 1rem; */
  padding: 50px;
  width: 990px;
  margin: 0 auto;
  position: relative;
  padding-left: 1rem;
}

.detail_title {
  font-size: 22px;
  padding-left: 20px;
}

.detail_header {
  height: 50px;
  text-align: left;
}

.detail_date {
  text-align: right;
  color: #999;
  font-size: 14px;
}

.detail_writer {
  text-align: right;
  width: 100px;
  color: #999;
  font-size: 14px;
  padding-right: 20px;
}

.detail_h2 {
    border: 2px solid #999;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.table {
  width: 100%;
  margin-top: 10px;
  /* font-size: 15px; */
  border-collapse: collapse;
  border: solid 1px #999;;
}

.td {
  padding: 10px;
  border: solid 1px #999;;
}

.btns {
  /* display: flex; */
  width: 80%;
  float: right;
  margin-top: 10px;
  text-align: right;
}

.btn {
  height: 35px;
  margin-left: 20px;
  padding-right: 5px;
}

.detail_inner{
  padding: 50px;
  width: 990px;
  margin: 0 auto;
  position: relative;
  padding-left: 1rem;
}

.detail_cont{
  border: 1px solid #dedede;
  border-radius: 2px;
  background: #fff;
  width: 988px;
  padding: 1rem;
}