.list-template {
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 1rem;
  }
  
  .list-title {
    font-size: 1.5rem;
    padding: 0.5rem;
    font-weight: 600;
    color: #232b43;
    border-bottom: solid;
  }

  button{
    margin-right: 0;
  }

  .head-wrapper {
    margin: 0 auto;
    display: flex;
    width: 95%;
    font-weight: 600;
    border-bottom: 1px solid #d3d3d3;
  }
  
  span {
    margin: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align: center;
  }
  
  .title-column {
    flex: 1;
  }
  
  .list-wrapper {
    margin: 0 auto;
    width: 95%;
    font-weight: 400;
    font-size: 0.7rem;
  }
  
  .delete-btn {
    width: 70px;
  }
  