.list-item {
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
  }
  
  Link :visited {
    color: black;
  }
  
  .list-item+.list-item {
    border-top: 1px solid #d3d3d3;
  }
  
  .t_id {
    margin-right: 1rem;
    margin-left: 2rem;
  }
  
  .curriculum {
    flex: 1;
    word-break: break-all;
  }

  .face {
    margin-left: 0rem;
    margin-right: 1rem;
    text-align: center;
    border: none;
    width: 30px;
  }

  .area {
    margin-right: 2rem;
    text-align: center;
    border: none;
    width: 60px;
  }

  .day {
    margin-right: 3rem;
    text-align: center;
    border: none;
    width: 10px;
  }

  .time {
    margin-right: 2.5rem;
    text-align: center;
    border: none;
    width: 25px;
  }
  
  .free {
    margin-right: 2.3rem;
    text-align: center;
    border: none;
    width: 25px;
  }
  
  .list-template {
      width: 80%;
      margin: 0 auto;
      margin-top: 1rem;
      padding: 1rem;
    }
    
    .list-title {
      font-size: 1.5rem;
      padding: 0.5rem;
      font-weight: 600;
      color: #232b43;
      border-bottom: solid;
    }
  
    .button{
      margin-left: 5;
    }
    
    span {
      margin: 1rem;
      margin-left: 1.5rem;
      margin-right: 2rem;
      text-align: center;
    }
    
    
    .delete-btn {
      width: 70px;
    }
    
    .matching-list-template {
      width: 90%;
      margin: 0 auto;
      margin-top: 1rem;
      padding: 1rem;
    }
    
    .matching-list-title {
      font-size: 1.5rem;
      padding: 0.5rem;
      font-weight: 600;
      color: #232b43;
      border-bottom: solid;
    }

    .matching-head-wrapper {
      margin: 0 auto;
      display: flex;
      width: 95%;
      font-weight: 600;
      border-bottom: 1px solid #d3d3d3;
    }

    .matching-list-wrapper {
      margin: 0 auto;
      width: 95%;
      font-weight: 400;
      font-size: 0.7rem;
    }

    .matching-title-column {
      flex: 1;
    }