.main {
    display: grid;
    place-content: center;
    margin-top: 1rem;
}

.square{
    border: 1px solid #3676c7;
    padding: 5rem;
    display:grid;
    border-radius: 10px;
}

.box {
    text-align: center;
    margin-top: 3rem;
}

.Table {
    border-top: 1px solid #444444;
    border-collapse: collapse;
    text-align: center;
}

.item {
    width: 100px;
    border-bottom: 1px solid #444444;
    border-right: 1px solid #444444;;
    padding: 10px;
}

.content {
    width: 100px;
    border-bottom: 1px solid #444444;
    padding: 10px;
    
}
