.main {
    display: grid;
    place-content: center;
    margin-top: 1rem;
}

.matching-container {
    background-color: white;
    border: 1px solid #3676c7;
    padding: 3rem 5rem 3rem 5rem;
    margin-top: 3rem;
    display:grid;
    border-radius: 10px;
    text-align: center;
}

.Box {
    margin-top: 3rem;
}

.matching-h1 {
    color: #22589e;
}