.matchingcomplete_main {
    display: grid;
    margin-top: 1rem;
    padding-top: 243pz;
}

.matchingcomplete_inner{
    padding: 50px;
    width: 990px;
    margin: 0 auto;
    position: relative;
    padding-left: 1rem;
    /* height: 500px; */
}

.matchingcomplete_cont{
    border: 1px solid #dedede;
    border-radius: 2px;
    background: #fff;
    width: 988px;
    padding: 1rem;
}

.matchingcomplete_h2_line{
    border-bottom: 2px solid #999;
}

.matchingcomplete_basic_table {
    border-bottom: 1px solid #c7c7c7;
    padding-top: 1rem;
}

.matchingcomplete_Table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.matchingcomplete_item {
    padding-top: 14px;
    border-top: 1px solid #c7c7c7;
    background-color: #f8f8f8;
    color: #666;
    line-height: 20px;
}

.content {
    width: 100px;
    border-bottom: 1px solid #444444;
    padding: 10px;
    text-align: center;
}

.matchingcomplete_box {
    text-align: center;
    margin-top: 10rem;
}

