/* .matching_main {
    display: grid;
    margin-top: 1rem;
    padding-top: 243pz;
}

.matching_tool{
    padding: 50px;
    width: 990px;
    margin: 0 auto;
    position: relative;
    padding-left: 1rem;
}

.matching-container {
    border: 1px solid #dedede;
    border-radius: 2px;
    background: #fff;
    width: 988px;
    padding: 1rem;
} */

.matching_control{
    text-align: center;
    padding-left: 17px;
}

.matching-line{
    margin-top: 1rem;
    border-bottom: 2px solid #999;
}

.matching_Box {
    text-align: right;
    margin-top: 1em;
    size: small;
}